//= require bootstrap-daterangepicker/daterangepicker.css
@import "@coreui/coreui/dist/css/coreui.min";

body {
  word-wrap: break-word;
}

.form-group label {
  @extend .font-weight-bold !optional;
}

label.required::after {
  color: red;
  content: " *"
}

.btn-show {
  @extend .btn !optional;
  @extend .btn-light !optional;
}

.btn-new, .btn-edit {
  @extend .btn !optional;
  @extend .btn-primary !optional;
}

.btn-destroy {
  @extend .btn !optional;
  @extend .btn-danger !optional;
}

.table {
  .btn-show {
    @extend .btn-block !optional;
    @extend .btn-sm !optional;
  }
}

.flash-notice {
  @extend .alert;
  @extend .alert-success;
}

.flash-alert {
  @extend .alert;
  @extend .alert-danger;
}

.card-header-title {
  display: inline;
  font-size: 18px;
}

.card-header-actions {
  .btn {
    @extend .btn-sm !optional;
  }
}

.card-body-show {
  @extend .row !optional;
  @extend .pb-3 !optional;
  &-label {
    @extend .col-sm-2 !optional;
    @extend .font-weight-bold !optional;
  }
  &-content {
    @extend .col-sm-10 !optional;
  }
}

.c-callout-uu {
  @extend .c-callout !optional;
  @extend .c-callout-success !optional;
}

.c-callout-cv {
  @extend .c-callout !optional;
  @extend .c-callout-primary !optional;
}

.c-callout-nf {
  @extend .c-callout !optional;
  @extend .c-callout-warning !optional;
}
